retail/QuerySwitchRequestsInput.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v3.0 NT (http://www.xmlspy.com) by Brian Lucas (Andersen Consulting) -->
<!--DTD generated by XML Spy v3.0 NT (http://www.xmlspy.com)-->
<!ELEMENT QuerySwitchRequestInput (GlobalProcessId, TransactionId)>
<!ELEMENT GlobalProcessId (#PCDATA)>
<!ELEMENT TransactionId (#PCDATA)>

