retail/SearchSwitchRequestsOutput.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Brian Lucas (Lucas Inc.) -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT SearchSwitchRequestsOutput (SwitchTransaction*)>
<!ELEMENT SwitchTransaction (GlobalProcessId, TransactionId, Esiid, SenderDuns, ReceiverDuns, DateTimeReceived, Type, DependentTransaction*)>
<!ELEMENT DependentTransaction (TransactionId, SenderDuns, ReceiverDuns, DateTimeReceived, Type)>
<!ELEMENT DateTimeReceived (#PCDATA)>
<!ELEMENT Esiid (#PCDATA)>
<!ELEMENT GlobalProcessId (#PCDATA)>
<!ELEMENT ReceiverDuns (#PCDATA)>
<!ELEMENT SenderDuns (#PCDATA)>
<!ELEMENT TransactionId (#PCDATA)>
<!ELEMENT Type (#PCDATA)>
